<style>
body {
text-align: center;}
h1 {
text-decoration: underline;}
h3 {
color:green;
text-align: center;
font-family: helvetica;
text-indent: 0px;}
</style>

<title>Menu</title>

<h1>Menu</h1>

<br><br>
<body>

<h3> Foods </h3>
<% @food.each do |f| %>
    <%= f.typesOfFood %>
&emsp;&emsp;&emsp;&emsp;&emsp;
	<%= f.prices %>
    <br />
<% end %>

<h3> Condiments </h3>
<% @condiment.each do |o| %>
    <%= o.typesOfCondiments %>
    <br />
<% end %>

<h3>Beverages </h3>
<% @beverage.each do |beers| %>
    <%= beers.typesOfDrinks %>
&emsp;&emsp;&emsp;&emsp;&emsp;
	<%= beers.price %>
    <br />
<% end %>

<h3> Chips </h3>
<% @chip.each do |c| %>
	<%= c.typesOfChips %>
&emsp;&emsp;&emsp;&emsp;&emsp;
	<%= c.prices %>
    <br />
<% end %>

<h3> Locations </h3>
<% @location.each do |l| %>
    <%= l.location %>
    <br />
<% end %>
</body>