<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header class="navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Fatty Patty's", pages_home_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", pages_home_path %></li>
            <li><%= link_to "About",   pages_about_path %></li>
            <li><%= link_to "Contact", pages_contact_path %></li>
            <li><%= link_to "Menu", pages_menu_path %></li>
            <li><%= link_to "Order", "#" %></li>
            <li><%= link_to "Admin", rails_admin_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>