<p id="notice"><%= notice %></p>

<h1>Condiments</h1>

<table>
  <thead>
    <tr>
      <th>Typesofcondiments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condiments.each do |condiment| %>
      <tr>
        <td><%= condiment.typesOfCondiments %></td>
        <td><%= link_to 'Show', condiment %></td>
        <td><%= link_to 'Edit', edit_condiment_path(condiment) %></td>
        <td><%= link_to 'Destroy', condiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condiment', new_condiment_path %>
